.navbar {
    padding-top : 50px !important;
    padding-bottom : 30px ;
}
.main_photo_container, .navbar{
    background-color : #191a1d !important ;
}
.routes_list{
    margin-left : auto ;
}
.nav-link {
    position: relative  ;
}
.nav-link::after{
    content: "";
    border-radius:10px ;
    min-height: 5px ;
    width: 0px  ;
    background-color: #4b6cc1 ;
    position: absolute  ;
    bottom: -10px ;
    left: 50% ;
    transition: all .7s ;
}
.nav-link:hover::after{
    width : 70% !important;
    left : 15% ;
}
.main_photo_container{
    min-height: 90vh ;
    position : relative ;
    padding-bottom : 30px ;
}
.main_photo_container::after{
    content: "" ;
    position: absolute ;
    height: 10vh ;
    width: 100% ;
    left: 0px ;
    bottom: 0px ;
    right: 0px ;
    background-color: red   ;
    transform-origin: top left ;
    transform: skewY(2deg) ;
    -webkit-transform: skewY(2deg) ;
}
.img_container {
    background-color: #121316  ;
    border-radius:5px;
    position : absolute ;
    min-height : 150px ;
}
.profile_photo{
    position: relative ;
    top: 50px ;
    max-width: 90% !important ;
    max-height: 100% !important ;
    border-radius: 5px ;
}
@media(max-width:767px){
    .routes_list{
        margin-left : 0px ;
        margin-right : auto ;
    }
    .nav-link::after{
        bottom : 0px;
    }
    .main_photo_container::after{
        bottom :  -20px ;
    }
    .profile_photo{
        top : 20px ;
    }
}